<%= simple_form_for(@admin_system_email) do |f| %>
  <%= f.error_notification %>

  <article>
    <section>
      <fieldset>
        <%= f.input :name %>
      </fieldset>
      <fieldset>
        <%= f.input :from %>
      </fieldset>
      <fieldset>
        <%= f.input :subject %>
      </fieldset>
      <fieldset>
        <%= f.input :body %>
      </fieldset>
    </section>
    
  </article>

  <div class="form-actions">
    <%= f.button :submit, "Save",  :class => 'btn-save pull-right' %>
  </div>
<% end %>
