

	<div class="panel-group" id="metric_accordion">
	  <div class="panel panel-default">

	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#metric_accordion" href="#<%= sub_metric.id %>" class="collapsed">
	          <%= metric.metric.number %>.<%= sub_metric.number %> 
	          <%= sub_metric.name %> [16]
	        </a>
	      </h4>
	    </div>

	    <div id=<%= sub_metric.id %> class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p class="summary">
	      		22Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
	      	</p>
	        <p>
						Navigation is consistent and conventional, and deep navigation is excellent. Related links could be tailored to be more useful. 
					</p>
					<p>
						Primary links are conventionally displayed across the page, and are a typical set for a pharmaceutical company.
					</p>		
						Secondary links are in the left hand bar, conventionally, and also as a mouseover dropdown from the primary links. 
					<p>	
						Section landing pages contain short introductions to each page within the section, with links to that page, and are listed in the same order as the dropdown menu, which is good practice. The only small problems arises when links on the landing page reach below the fold, forcing scrolling: see Careers.
					</p>	
					<p>	
						At a section landing page, users may expect to click the title of the page they wish to visit, but unusually the introductory paragraph contains the hyperlink.
					</p>	
					<p>
						Tertiary links are conventionally positioned in the left hand menu, clearly distinguished by being nested beneath secondary items.
					</p>
					<p>	
						The same system continues at deeper levels. See for example About Novartis> Healthcare portfolio> Pharmaceuticals> Oncology. This is highly usable as long as the menu does not go below the fold. It does, but very rarely. 
					</p>	
					<p>	
						As an alternative, in-page tabs are used to switch between panels of information. See Investors> Shareholder information> For Japanese investors. This works for some types of information,  though it does mean there is no marker in the left menu. 
	        </p>

	        <div class="panel-section row">

	        	<section>
		        		<div class="col-sm-12 title">Screengrabs</div>		
		        		<!-- <div class="col-sm-3">
		        			<figure>
		        				<a href="#">
		        					<img src="/uploads/screengrabs/0b808781-e6e6-4a64-9554-d0d413b589fb.jpg" alt="" />
		        				</a>
		        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
		        			</figure>
		        		</div>

		        		<div class="col-sm-3">
		        			<figure>
		        				<a href="#">
		        					<img src="/uploads/screengrabs/0b5f2b4c-1b79-f224-01ae-d957abe5ab25.jpg" alt="" />
		        				</a>
		        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
		        			</figure>
		        		</div>

		        		<div class="col-sm-3">
		        			<figure>
		        				<a href="#">
		        					<img src="/uploads/screengrabs/0ab71a08-502f-87a4-6d13-ef4bd1a5258b.jpg" alt="" />
		        				</a>
		        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
		        			</figure>
		        		</div>

		        		<div class="col-sm-3">
		        			<figure>
		        				<a href="#">
		        					<img src="/uploads/screengrabs/0b2e3d11-f5e8-4fe4-798d-f4752abe5c7c.jpg" alt="" />
		        				</a>
		        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
		        			</figure>
		        		</div>

		        		<div class="col-sm-3">
		        			<figure>
		        				<a href="#">
		        					<img src="/uploads/screengrabs/dummy1.png" alt="" />
		        				</a>
		        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
		        			</figure>
		        		</div>

		        		<div class="col-sm-3">
		        			<figure>
		        				<a href="#">
		        					<img src="/uploads/screengrabs/0b1634c8-a875-e6b4-15ec-04ed78011bcb.jpg" alt="" />
		        				</a>
		        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
		        			</figure>
		        		</div> -->
		        </section>	
	        </div>

	        <div class="panel-section row">

	        	<section>
		        	<div class="title">Recomendation</div>		
		        	<p>
		        		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus, risus nec dignissim dapibus, elit lacus dapibus ligula, ut porta eros felis venenatis quam. Suspendisse id est odio. Duis sit amet porttitor dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vehicula, felis ut ullamcorper imperdiet, velit diam porttitor lorem, nec tempor tortor turpis a tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean lectus odio, lobortis quis tempor eu, ultrices vel dolor. Sed lobortis urna eget lacus fringilla a luctus justo ultricies. Nam fringilla orci eu ipsum venenatis vitae lacinia erat luctus. Integer vulputate blandit cursus. Integer scelerisque velit ut orci aliquam a auctor augue tincidunt. Nullam pulvinar tincidunt velit, ut porttitor purus accumsan sed. In in est quam. In hac habitasse platea dictumst. Mauris porttitor velit risus. Sed nec est ligula, eu convallis arcu.
		        	</p>	

		        	<p>
		        		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus, risus nec dignissim dapibus, elit lacus dapibus ligula, ut porta eros felis venenatis quam. Suspendisse id est odio. Duis sit amet porttitor dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vehicula, felis ut ullamcorper imperdiet, velit diam porttitor lorem, nec tempor tortor turpis a tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean lectus odio, lobortis quis tempor eu, ultrices vel dolor. Sed lobortis urna eget lacus fringilla a luctus justo ultricies. Nam fringilla orci eu ipsum venenatis vitae lacinia erat luctus. Integer vulputate blandit cursus. Integer scelerisque velit ut orci aliquam a auctor augue tincidunt. Nullam pulvinar tincidunt velit, ut porttitor purus accumsan sed. In in est quam. In hac habitasse platea dictumst. Mauris porttitor velit risus. Sed nec est ligula, eu convallis arcu.
		        	</p>	
		        		
		        </section>	
	        </div>

	        <div class="panel-section row">

	        	<section>
		        	<div class="title">Best practice</div>
		        	<div class="sub-title">Best practice</div>
		        	<p>
		        		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus, risus nec dignissim dapibus, elit lacus dapibus ligula, ut porta eros felis venenatis quam. Suspendisse id est odio. Duis sit amet porttitor dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vehicula, felis ut ullamcorper imperdiet, velit diam porttitor lorem, nec tempor tortor turpis a tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean lectus odio, lobortis quis tempor eu, ultrices vel dolor. Sed lobortis urna eget lacus fringilla a luctus justo ultricies. Nam fringilla orci eu ipsum venenatis vitae lacinia erat luctus. Integer vulputate blandit cursus. Integer scelerisque velit ut orci aliquam a auctor augue tincidunt. Nullam pulvinar tincidunt velit, ut porttitor purus accumsan sed. In in est quam. In hac habitasse platea dictumst. Mauris porttitor velit risus. Sed nec est ligula, eu convallis arcu.
		        	</p>
		        	
		        	<div class="sub-title">Reference URLs</div>
		        	<ul class="rpt-urls">
		        		<li><a href="#">http://www.bbc.co.uk/</a></li>
		        		<li><a href="#">http://www.aviva.co.uk/</a></li>
		        		<li><a href="#">http://www.sky.co.uk/</a></li>
		        		<li><a href="#">http://www.virgin.co.uk/</a></li>
		        		<li><a href="#">http://www.myurl.co.uk/</a></li>
		        		<li><a href="#">http://www.itv.co.uk/</a></li>
		        	</ul>

		        	<div class="sub-title">Screengrabs</div>
		        	<!-- <div class="col-sm-3">
	        			<figure>
	        				<a href="#">
	        					<img src="/uploads/screengrabs/0b1634c8-a875-e6b4-15ec-04ed78011bcb.jpg" alt="" />
	        				</a>
	        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
	        			</figure>
	        		</div>

	        		<div class="col-sm-3">
	        			<figure>
	        				<a href="#">
	        					<img src="/uploads/screengrabs/0b72e1e8-39be-e364-cd0c-7244c63f8751.jpg" alt="" />
	        				</a>
	        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
	        			</figure>
	        		</div>

	        		<div class="col-sm-3">
	        			<figure>
	        				<a href="#">
	        					<img src="/uploads/screengrabs/dummy1.png" alt="" />
	        				</a>
	        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
	        			</figure>
	        		</div> -->		
		        </section>
	        </div>

	        <!-- documents -->
	        <div class="panel-section row">

	        	<section>
		        	<div class="title">Documents</div>		
		        	<ul class="rpt-doc-list">
		        		<li><a href="#" title="title">Document Title (Format, KB)</a></li>
		        		<li><a href="#" title="title">Document Title (Format, KB)</a></li>
		        		<li><a href="#" title="title">Document Title (Format, KB)</a></li>
		        		<li><a href="#" title="title">Document Title (Format, KB)</a></li>
		        	</ul>
		        </section>	

	        </div>
	      </div>
	    </div>
	  </div>	 
	</div>

