
<div class="rpt-view-totalscore">
	<div class="total">Total Score [280]</div>
	<div class="scores">Score 210 (220)</div>
</div>

<div class="nav nav-tabs" id="latest-report-tabs">
	<ul>
		<% @width = 100.00/@report_type_metrics.count %>
		<% @report_type_metrics.each do |metric| %>
			<li style="width: <%= "#{@width}" + '%' %>"><a href="#<%= metric.metric.name.downcase.gsub(' ','-')  %>" data-toggle="tab">
				<%= metric.metric.number %>.<%= metric.metric.name %></a>
			</li>
		<% end %>
	</ul>
</div>

<div class="tab-content">
	<% @report_type_metrics.each do |metric| %>	
		<div class="tab-pane" id="<%= metric.metric.name.downcase.gsub(' ','-') %>">
			
			<div class="panel-group report-accordion" id="accordion">
				<div class="rpt-metric-score">
					<div class="name">
						<%= metric.metric.name %> [<%= metric.sub_metrics.sum(:max_score) %>]
					</div>
					<div class="scores">Score 39 (41)</div>
				</div>

				<div class="row">
					<div class="col-sm-9">
						<% metric.metric.sub_metrics.each do |sub_metric| %>		
							<div class="rpt-view-container">
								<%= render "wed/wed/partials/latest_report_view", metric: metric, sub_metric: sub_metric %>
							</div>
						<% end %>
					</div>
					<div class="col-sm-3 rpt-aside">
										
						<div class="block score-legend">
							<h2>Score Legend</h2>
							<section>
								<table>
									<tr>
										<td>[280]</td>
										<td>Maximum possible score</td>
									</tr>
									<tr>
										<td>(205)</td>
										<td>Previous score</td>
									</tr>
										<td>206</td>
										<td>Current score</td>
									</tr>
								</table>
							</section>
						</div>

						<div class="block rpt-download">
							<h2>Download report</h2>
							<section>
								<%= render "wed/wed/partials/download_latest_report_mini"%>
								<div class="ddl-download">
									<select class="form-control">
										<option>Format</option>
										<option>Pdf</option>
										<option>ODX</option>
									</select>	
								</div>

								<a href="#" class="btn btn-download">
									<i></i>Download complete report
								</a>

								<a href="#" class="btn btn-download">
									<i></i>Download selected
								</a>
							</section>
						</div>

						<div class="block rpt-share">
								<a href="#" class="btn btn-download">
									<i></i>Download recommendations only (CSV)
								</a>
								<a href="#" class="btn"  data-toggle="modal" data-target="#shareReport">
									<i></i>Share with colleagues
								</a>
						</div>
					</div>

			</div> <!-- row -->
						

			</div>
				
				<!-- fillin til here-->
		</div>
	
	<% end %>
</div>



<%= render "shared/share_report_popup" %>