
<div class="well">
  <section>
    <div class="ddl-download">
      <select class="form-control">
          <option>Format</option>
          <option>Pdf</option>
          <option>CSV</option>
      </select>
      <a href="#" class="btn btn-download"><i></i>Download</a>
    </div>
    

    <div class="ddl-compare">
      <%= select_tag "companies", options_from_collection_for_select(@my_peers, "id", "name"),
                 :class => 'form-control', :prompt => "Do not compare" %>
      <a href="#" class="btn btn-compare"><i></i>Compare</a>
    </div>
    
      

  </section>
</div>

<div id="chart" style="width: 800px;"></div>

<% content_for :scripts do %>
  <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  <script type="text/javascript">
  	$(function () {
        $('#chart').highcharts({
            title: {
                text: 'Progress for all metrics (<%= @yr.first %> - current)',
                x: -20 //center
            },
            subtitle: {
                //text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                // categories: ['2010', '2011', '2012']
                categories: <%= raw @yr %>
            },
            yAxis: {
                title: {
                    text: 'Percentage (%)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            // series: [{
            //     name: 'Construction',
            //     data: [7.0, 6.9, 9.5,10,9,20]
            // }, {
            //     name: 'Message',
            //     data: [-0.2, 0.8, 5.7]
            // }, {
            //     name: 'Contact',
            //     data: [-0.9, 0.6, 3.5]
            // }, {
            //     name: 'Serving Society',
            //     data: [3.9, 4.2, 5.7]
            // }]

            // series: [
            // <%# @metrics.each do |metric| %>
            //   {
            //       name: '<%#= metric.metric.name %>',
            //       data: [<%#= metric.total_score %>]
            //   },
            // <%# end %>
            // ]
            series: [
              <% @reports.each do |report| %>
                <% if report.reports_metrics.present? %>
                
                  <% report.reports_metrics.each do |report_metric| %>
                  {
                    name: '<%= report_metric.metric.name %>',
                    data: <%= report.reports_metrics.map(&:total_score) %>
                    <%# debugger %>
                  },
                  <% end %>
                
                <% end %>
              <% end %>
            ]         
        });
    });
    

  </script>
<% end %>