<div class="page-header">
  <h1>Users</h1>
</div>

<div class="well">
  <section>
    <div class="table-search">
      <input type="text" placeholder="search" />
    </div>
    <a class="btn btn-filter">
      <i></i>Show Filter
    </a>

    <a href="#" class="btn btn-download pull-right">
      <i></i>Download
    </a>
    
    <%= link_to new_user_path, :class => 'btn btn-new pull-right' do %>
      <i></i>
      New User
    <% end %>
  </section>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Company</th>
      <th>Role</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.company.name %></td>
        <td><%= user.roles.map(&:name).join(", ") %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class => 'link_edit' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },
          :class => 'link_destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

