<% content_for :sub_menu do %>
  <%= render "admin/shared/projects_sub_menu" %>
<% end %>


<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <article>
    <section>
      <fieldset>
        <%= f.input :name, :label => 'Project Name',
            :input_html => {:class => ''} %>
      </fieldset>  
      <fieldset>  
        <%= f.input :publish_date, :as => :string %>
      </fieldset>
      <fieldset>  
        <%= f.input :ft_index, as: :radio_buttons %>
      </fieldset>
      <fieldset>  
        <%= f.input :in_result_table, as: :radio_buttons %>
      </fieldset>
      <fieldset>
        <%= f.input :can_compare, as: :radio_buttons %>
      </fieldset>
    </section>
  </article>      
  <article>
    <section>
      <header>
        <h4>Reports</h4>
      </header>
      
      <!-- new report form -->


      <%= f.fields_for :reports do |r| %>
        <fieldset>
          <%#= r.association :company %>
        </fieldset>  
        <fieldset>
          <%#= r.input :name %>
        </fieldset>
        <!-- <fieldset>
          add user/editors  
        </fieldset> -->
        
        <fieldset>
        <%= r.input :report_name, :label => false %>
        </fieldset>
        <fieldset>
          <%= r.object.created_at.strftime("%d/%m/%Y") %>
        </fieldset>
        <fieldset>
          <%= r.object.updated_at.strftime("%d/%m/%Y") %>
        </fieldset>
        <fieldset>
          <%= r.object.status.name %>
        </fieldset>
      <% end %>
    </section>
  </article>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-save pull-right' %>
    </div>

<% end %>
