<% content_for :sub_menu do %>
  <%= render "admin/shared/projects_sub_menu" %>
<% end %>


<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <article>
    <section>
      <fieldset>
        <%= f.input :name, :label => 'Project Name',
            :input_html => {:class => ''} %>
      </fieldset>  
      <fieldset>  
        <%= f.input :publish_date, :as => :string, :input_html => { :value => f.object.publish_date} %>
        
      </fieldset>
      <fieldset>  
        <%= f.input :ft_index, as: :radio_buttons %>
      </fieldset>
      <fieldset>  
        <%= f.input :in_result_table, as: :radio_buttons %>
      </fieldset>
      <fieldset>
        <%= f.input :can_compare, as: :radio_buttons %>
      </fieldset>
    </section>
  </article>      

  <article>
    <section>

      <header>
        <h4>Reports</h4>
      </header>

      <div action="/admin/reports" method="post" class="test" id="project-new-report-form">
        <fieldset>
          <label>Company</label>
          <div class="col-sm-4">
            <%= select_tag "project-new-report-companies", options_from_collection_for_select(Admin::Company.order(:name), "id", "name"),
             :prompt => "Companies" %>
          </div>
        </fieldset>
        <fieldset>
          <label>Report Type</label>
          <div class="col-sm-4">
            <%= select_tag "project-new-report-type", options_from_collection_for_select(Admin::ReportType.order(:name), "id", "name"),
             :prompt => "Report Type" %>
          </div>
        </fieldset>
        <fieldset>
          <label>Assigned To</label>
          <div class="col-sm-4">
            <!-- to do multiple select -->
            <%= select_tag "project-new-report-assigned_to", options_from_collection_for_select(User.order(:username), "id", "username"),
             :prompt => "Editors" %>
          </div>
        </fieldset>
        <fieldset>  
          <label>Report Title</label>
          <div class="col-sm-4">
            <%= text_field_tag "project-new-report-title" %>
          </div>
        </fieldset>
      </div>
    </section>
    <div class="form-actions">
      <%#= link_to "#", :class => 'btn btn-new pull-right', :id => 'project-add-report' do %>
        <!-- <i></i>Add Report -->
      <%# end %>
      <%= link_to_add_fields "Add Report", f, :reports %>

      
    </div>
  </article>
  
  <article>
    <section>
      <!-- new report form -->

      <!-- new report form end -->
      <div id="project-report-listview">
        <table class="table" id="project-reports-table">
          <thead>
            <tr>
              <th>Report Title</th>
              <th>Created on</th>
              <th>Status</th>
              <th></th>
              <th>Updated on</th>
              <th>Editors</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :reports do |r| %>
              <% unless f.object.new_record? %>
                <tr>
                  <td><%= r.input :name, :label => false %></td>
                  <td><%= r.object.created_at.strftime("%d/%m/%Y") %></td>
                  <td><%= r.object.report_state.name unless r.object.report_state.nil? %></td>
                  <td></td>
                  <td><%= r.object.updated_at.strftime("%d/%m/%Y") %></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <% else %>
                <%= render "report_fields", f: f %>  
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

    </section>
  </article>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class => 'btn-save pull-right' %>
    <a href="#" id="project-revert" class="btn pull-right">Revert</a>
  </div>

<% end %>