<% content_for :sub_menu do %>
  <%= render "admin/shared/companies_sub_menu" %>
<% end %>


<%= simple_form_for(@country) do |f| %>
  <%= f.error_notification %>

  <article>
  	<section>
  		<fieldset>
  			<%= f.input :name %>
  		</fieldset>
  	</section>
  </article>
  

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-save pull-right" %>
  </div>
<% end %>
