<% content_for :sub_menu do %>
  <%= render "admin/shared/projects_sub_menu" %>
<% end %>

<div class="page-header">
	<h1><%= @report.name %></h1>
</div>

<div class="well">
	<section>
		
		<button class="btn-rpt-view" data-toggle="modal" data-target="#viewReport">
      <i></i>View
    </button>

    <button class="btn-rpt-submit">
      <i></i>Submit
    </button>

    <button class="btn-rpt-publish">
      <i></i>Publish
    </button>

    <button class="btn-rpt-unpublish">
      <i></i>Unpublish
    </button>

    <button class="btn-notes" data-toggle="modal" data-target="#report_notes_form">
      <i></i>Notes (<%= @report.notes.count %>)
    </button>

    <button class="btn-save">
      Save
    </button>
    
    <div class="ddl-download">
    	<select class="form-control">
	    	<option>Format</option>
	    	<option>Pdf</option>
	    	<option>CSV</option>
	    </select>
    </div>

    <button class="btn btn-download">
      <i></i>Download
    </button>
    

	</section>
</div>



<ul class="nav-tabs classic" id="report_tab">
  <li><a href="#overview" data-toggle="tab">Overview</a></li>
  <li><a href="#report" data-toggle="tab">Report</a></li>
</ul>


<!-- Tab panes -->
<div class="tab-content">
  
  <!-- report overview content -->
  <div class="tab-pane" id="overview">
  	<%#= @report.company.name %>
  	<%#= link_to @report.company.url, @report.company.url, :target => '_blank' %>
  	<%#= @report.company.country.name %>
  	<%#= @report.company.country.region.name %>

  	<%#= render "admin/reports/manage_report_overview" %>
  	<article>
  		<header>
  			<h4>Company</h4>
  		</header>
  	</article>

  </div>
	
  <!-- report edit form content -->
  <%#= render "admin/reports/manage_report_form" %>
  <div class="tab-pane" id="report">

  	<div class="rpt-view-totalscore">
			<div class="total">Total Score [280]</div>
			<div class="scores">Score 210 (220)</div>
		</div>

  	<div class="nav-tabs">
			<ul>
				<% @width = 100.00/@metrics.count %>

				<% @metrics.each do |metric| %>
					<li style="width: <%= "#{@width}" + '%' %>"><a href="#"><%= metric.metric.name %></a></li>
					
				<% end %>
			</ul>
		</div>		

		<div class="row">
			<div class="col-sm-12">
				

				<div class="panel-group report-accordion" id="accordion">
					<div class="rpt-metric-score">
						<div class="name">Construction [60]</div>
						<div class="scores">Score 39 (41)</div>
					</div>

					<!-- CONSTRUCTION METRIC FORM START -->		
					<% @metrics.first.sub_metrics.each do |sub_metric| %>	
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#<%= sub_metric.id %>">
				        	<i class="panel-arrow-right"></i>
				        	<%= @metrics.first.number %>.<%= sub_metric.number %>
				          <%#= sub_metric.name %>
				        </a>
				        <!-- <span>Score 11(13)</span> -->
				      </h4>
				    </div>
				    <div id="<%= sub_metric.id %>" class="panel-collapse collapse in">
				      <div class="panel-body">

		        		<p>
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					      </p>  
				        	

					      <div class="panel-slide row">
				        	<section>
				        		<div class="title">Notes(<%#= sub_metric.notes.count %>)</div>
				        		<div class="view-notes">
				        			<form>
				        				<textarea>
												</textarea>
				        				<button class="btn btn-save">Save Note</button>
				        			</form>

				        		</div>
				        	</section>
				        </div>

				        <div class="panel-section row">
				        	<section>
				        		<div class="title">Reference URL</div>
				        		<input type="text" width="300" />
				        	</section>
				        </div>

				        <div class="panel-section row">
				        	<section>
				        		<div class="title">Q: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				        		<textarea id="q1">
				        		</textarea>
				        		<div class="title">Q: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				        		<textarea id="q2">
				        		</textarea>
				        		<div class="title">Q: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				        		<textarea id="q3">
				        		</textarea>
				        	</section>
				        </div>

				        <div class="panel-section row">
				        	<section>
				        		<div class="title">Screengrabs</div>

				        		<div class="col-sm-3">
				        			<figure>
				        				<a href="#">
				        					<img src="/uploads/screengrabs/0b1634c8-a875-e6b4-15ec-04ed78011bcb.jpg" alt="" />
				        				</a>
				        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
				        			</figure>
				        		</div>

				        		<div class="col-sm-3">
				        			<figure>
				        				<a href="#">
				        					<img src="/uploads/screengrabs/0b72e1e8-39be-e364-cd0c-7244c63f8751.jpg" alt="" />
				        				</a>
				        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
				        			</figure>
				        		</div>

				        		<div class="col-sm-3">
				        			<figure>
				        				<a href="#">
				        					<img src="/uploads/screengrabs/dummy1.png" alt="" />
				        				</a>
				        				<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
				        			</figure>
				        		</div>
				        	</section>
				        </div>


				        <div class="panel-section row">

				        	<section>
					        	<div class="title">Recommend</div>
					        	<textarea></textarea>
					        	<div class="title">Consider</div>
					        	<textarea></textarea>
					        </section>	
				        </div>

				        <div class="panel-section row">

				        	<section>
					        	<div class="title">Best Practice</div>
					        </section>
					        <table class="table">
					        	<thead>
					        		<th>Company</th>
					        		<th>Title</th>
					        		<th>Manage</th>
					        	</thead>
					        	<tbody>
					        		<td>Company Name</td>
					        		<td>title</td>
					        		<td>manage</td>
					        	</tbody>
					        </table>	
				        </div>

				        <div class="panel-section row">

				        	<section>
					        	<div class="title">Tags</div>
					        	<%= select_tag "rpt-tag", options_from_collection_for_select(Admin::ReportTag.order(:name).all, 
					        			"id", "name"), :prompt => "Select", :multiple => 'true' %>
					        	
					        </section>

				        </div>

				        <div class="panel-section row">

				        	<section>
					        	<div class="title">Documents</div>		
					        	<ul class="rpt-doc-list">
					        		<li>
					        			<a href="#" title="title">Document Title (Format, KB)</a>
					        			<a class="link_remove pull-right">remove</a>
					        		</li>
					        		<li>
					        			<a href="#" title="title">Document Title (Format, KB)</a>
					        			<a class="link_remove pull-right">remove</a>
					        		</li>
					        	</ul>
					        		
					        </section>	
				        </div>


				      </div>
				    </div>
				  </div>
				  <% end %>
				  <!-- CONSTRUCTION - METRIC FORM END -->

				  
				  
				</div>
			</div>	
		</div>
  </div>
</div>

<% content_for :scripts do %>
	<script type="text/javascript">
		CKEDITOR.replace( 'q1' );
		CKEDITOR.replace( 'q2' );
		CKEDITOR.replace( 'q3' );
	</script>  
<% end %>

<%= render "shared/report_popup" %>
<%= render "admin/shared/report_notes_popup" %>