<%= simple_form_for(@web_widget) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :theme %>
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
		CKEDITOR.replace( 'q1' );
	</script>  
<% end %>