<ul class="nav-tabs classic" id="report_tab">
  <li class="active">
  	<%= link_to "My Account", my_account_path %>
  </li>
  <li>
  	<%= link_to "My Peers", my_peers_path %>
  </li>
</ul>



<%= form_tag(my_account_update_path, method: :post, :id => 'wed_userupdate_form') do %>

	<article>
		<section>
			<fieldset>
				<label>Username</label>
				<label><%= current_user.username %></label>
			</fieldset>
			<fieldset>
				<label>First Name</label>
				<%= text_field_tag 'firstname' %>
			</fieldset>
			<fieldset>
				<label>Last Name</label>
				<%= text_field_tag 'lastname' %>
			</fieldset>
			<fieldset>
				<label>Email</label>
				<%= text_field_tag 'email' %>
			</fieldset>
			<fieldset>
				<label>Job Title</label>
				<%= text_field_tag 'job_title' %>
			</fieldset>

			<hr>
			<fieldset>
				<label>Current Password</label>
				<%= password_field_tag 'current_password' %>
			</fieldset>

			<fieldset>
				<label>New Password</label>
				<%= password_field_tag 'new_password' %>
			</fieldset>

			<fieldset>
				<label>Confirm Password</label>
				<%= password_field_tag 'confirm_password' %>
			</fieldset>

		</section>
	</article>

	<%= submit_tag 'Update', :class => 'btn-save pull-right' %>
<% end %>