<ul class="nav-tabs classic" id="report_tab">
  <li>
  	<%= link_to "My Account", my_account_path %>
  </li>
  <li class="active">
  	<a href="#">My peers</a>
  </li>
</ul>

<div class="well add-peer">

	<section>		
		<%= select_tag "peer-companies", options_from_collection_for_select(@companies, "id", "name"),
           :class => 'form-control', :prompt => "Companies" %>
    <%= link_to new_admin_company_path, :class => 'btn btn-new' do %>
      <i></i>
      Peer
    <% end %>
	</section>

	<section>
		<ul class="peer-list-head">
			<li>
				<div class="title">Company</div>
				<div class="manage">Manage</div>
			</li>
		</ul>

		<% unless @my_peers.nil? %>
			<ul class="peer-list">
				<% @my_peers.each do |my_peer|%>
				<li>
					<div class="icon">
						<%= link_to image_tag(my_peer.icon.url(:normal)), my_peer.url, :target => "_blank" %>
					</div>
					<div class="peer-title">
						<%= link_to my_peer.name, company_profile_path(my_peer) %>
					</div>
					<div class="manage">
						<a href="#" class="link_remove">Disable</a>
					</div>
				</li>
				<% end %>
			</ul>
		<% end %>
	</section>
</div>