<% content_for :sub_menu do %>
  <%= render "admin/shared/cms_sub_menu" %>
<% end %>

<%= simple_form_for(@web_page) do |f| %>
  <%= f.error_notification %>
  <article>
    <section>

      <fieldset>
        <%= f.input :meta_title %>
      </fieldset>
      <fieldset>
        <%= f.input :meta_desc %>
      </fieldset>
      <fieldset>
        <%= f.input :meta_keyword %>
      </fieldset>
      <fieldset>
        <%= f.input :name %>
      </fieldset>
      <fieldset>
        <%= f.input :page_title %>
      </fieldset>
      <fieldset>
        <label>Intro</label>
      </fieldset>
      <fieldset>
        <%= f.input :page_intro, label: false %>
      </fieldset>
      <fieldset>
        <label>Body</label>
      </fieldset>
      <fieldset>
        <%= f.input :body, label: false %>
      </fieldset>
      <fieldset>
        <%= f.input :url %>
      </fieldset>
      <fieldset>
        <%= f.input :parent_id, collection: Web::Page.order(:name), 
        :input_html => {:class => 'form-control'}, include_blank: true %>
      </fieldset>
      <fieldset>
        <%= f.input :position %>
      </fieldset>
      <fieldset>

      </fieldset>
    </section>
  </article>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-save pull-right' %>
  </div>
<% end %>
<% content_for :scripts do %>
  <script type="text/javascript">
    CKEDITOR.replace( 'web_page_body' );
    CKEDITOR.replace( 'web_page_page_intro' );

  </script>  
<% end %>