<!-- breadcrumb -->

	<% content_for :sub_menu do %>
		<% unless @web_page.root.is_childless? %>
		  <ul class="sub-nav">
		    <% @web_page.root.children.order(:position).each do |page| %>
		    	<% if @web_page.url == page.url %>
			      <li class="<%= page.url %> active">
			        <span><%= link_to_unless_current page.name, nested_page_path(page) %></span>
			      </li>
			    <% else %>
			    	<li class="<%= page.url %>">
			        <span><%= link_to_unless_current page.name, nested_page_path(page) %></span>
			      </li>
			    <% end %>
		    <% end %>
		  </ul>
		<% end %> 
	<% end %>

	<% if @web_page.url == 'interactive-results-table' %>
		
		<!-- show results table partials -->
		<%= render "admin/companies/interactive_results_table" %>

		
	<% elsif @web_page.url == 'commentaries' %>

		<!-- show commentaries partials -->
		<%= render "admin/commentaries/list" %>

	<% elsif @web_page.url == 'bc-tips' %>

		<!-- show bc-tips partials -->	
		<%= render "admin/bctips/list" %>

	<% else %>

		<div class="cms-body">
			<%=h raw @web_page.body %>
		</div>
		

	<% end %>


	<% if @web_page.has_children? %>
		<article class="in-this-section">
			<header>
				<h3>In this section</h3>
			</header>
			<section class="row">
				<% unless @web_page.root.is_childless? %>
				  
				    <% @web_page.root.children.order(:position).each do |page| %>
				    
				      <div class="col-sm-6">
				        <h3><%= link_to_unless_current page.name, nested_page_path(page) %></h3>
				      </div>
				      
				    <% end %>
				  
				<% end %>
			</section>
		</article>
	<% end %>

<%#= link_to 'Edit', edit_web_page_path(@web_page) %>
<%= link_to 'Edit', cms_desk_edit_web_page_path(@web_page) %>
<%#= link_to 'Back', web_pages_path %>