<ul class="sub-nav">
	<li>
		<%= link_to cms_desk_web_pages_path do %>
			<span>WEB</span>
		<% end %>
	</li>

	<li>
		<%= link_to admin_companies_path do %>
			<span>WED</span>
		<% end %>
	</li>
  
  <li>
		<%= link_to cms_desk_commentaries_path do %>
			<span>Commentaries</span>
		<% end %>
	</li>

	<li>
		<%= link_to cms_desk_bctips_path do %>
			<span>BC-Tips</span>
		<% end %>
	</li>
  
  <li>
		<%= link_to admin_sectors_path do %>
			<span>Events</span>
		<% end %>
	</li>

	<li>
		<%= link_to admin_countries_path do %>
			<span>News</span>
		<% end %>
	</li>

	<li>
		<%= link_to admin_countries_path do %>
			<span>Announcement</span>
		<% end %>
	</li>
</ul>