<ul class="sub-nav">
	<li>
		<%= link_to admin_companies_path do %>
			<span>Companies</span>
		<% end %>
	</li>
  
  <li>
		<%= link_to admin_company_types_path do %>
			<span>Types</span>
		<% end %>
	</li>
  
  <li>
		<%= link_to admin_sectors_path do %>
			<span>Sectors</span>
		<% end %>
	</li>
  
  <li>
		<%= link_to admin_regions_path do %>
			<span>Regions</span>
		<% end %>
	</li>

	<li>
		<%= link_to admin_countries_path do %>
			<span>Countries</span>
		<% end %>
	</li>
</ul>