<ul class="sub-nav">
	<li>
		<%= link_to admin_projects_path do %>
			<span>Projects</span>
		<% end %>
	</li>
  
  <li>
		<%= link_to admin_reports_path do %>
			<span>Reports</span>
		<% end %>
	</li>
  
  <li>
		<%= link_to admin_metrics_path do %>
			<span>Central Metrics</span>
		<% end %>
	</li>
  
  <li>
		<%= link_to admin_report_types_path do %>
			<span>Report Types</span>
		<% end %>
	</li>

	<li>
		<%= link_to admin_report_tags_path do %>
			<span>Report Tags</span>
		<% end %>
	</li>

	<li>
		<%= link_to admin_best_practices_path do %>
			<span>Best Practices</span>
		<% end %>
	</li>
</ul>