<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/web/meta_head' %>
  <%= stylesheet_link_tag "global", "http://fonts.googleapis.com/css?family=EB+Garamond" media: "all" %>  
  <%= csrf_meta_tags %>
</head>
<body>

		<%= render 'layouts/web/header' %>
		<div class="container">
			<%= yield %>
		</div>
		
		<%= render 'layouts/web/footer' %>


	<%= javascript_include_tag "application" %>
	<%= yield :scripts %>
	
</body>
</html>
