<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/web/meta_head' %>
  <%= stylesheet_link_tag "global","web", media: "all" %>  
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<%= render 'layouts/web/header' %>
		<div class="main row" role="main">
			<article class="mod-landing">
		    <header>
	        <h1>
            <%= @web_page.page_title %>
	        </h1>
		    </header>
		    
		    	<%= raw @web_page.page_intro %>
		    

			</article>

			
			<div class="row">
			
			<article class="highlight-index col-sm-5">
        <header>
          <h2>
            <a href="/ft-bowen-craggs-index/" alt="FT index">
                <img src="/assets/index_effectiveness_logo.png" alt="">
            </a>    
          </h2>
        </header>
  			<section>
      		<table class="table">
						<tbody>
							<tr>
								<td>
									1</td>
								<td>
									BP</td>
								<td>
									215</td>
							</tr>
							<tr>
								<td>
									1</td>
								<td>
									Eni</td>
								<td>
									215</td>
							</tr>
							<tr>
								<td>
									1</td>
								<td>
									SAP</td>
								<td>
									215</td>
							</tr>
							<tr>
								<td>
									4</td>
								<td>
									Siemens</td>
								<td>
									214</td>
							</tr>
							<tr>
								<td>
									5</td>
								<td>
									Royal Dutch Shell</td>
								<td>
									213</td>
							</tr>
							<tr>
								<td>
									5</td>
								<td>
									Unilever</td>
								<td>
									213</td>
							</tr>
							<tr>
								<td>
									7</td>
								<td>
									Nestlé</td>
								<td>
									207</td>
							</tr>
							<tr>
								<td>
									7</td>
								<td>
									Roche</td>
								<td>
									207</td>
							</tr>
							<tr>
								<td>
									9</td>
								<td>
									Novartis</td>
								<td>
									206</td>
							</tr>
							<tr>
								<td>
									10</td>
								<td>
									GlaxoSmithKline</td>
								<td>
									203</td>
							</tr>
						</tbody>
					</table>

        </section>
			</article>

			<article class="highligth-content col-sm-4">
        <%= yield %>
		  </article>
			

			<div class="col-sm-3 sidebar">
				<%= yield :sidebar %>

				<div class="widget">
					<section>
						<a href="#" class="link_print"></a>
					</section>
				</div>

				<div class="widget theme-blue">
					<section>
						

						<a href="#" class="btn btn-download"><i></i>Subscribe</a>
					</section>
				</div>

				
			</div>
			</div>
		</div>

		<%= render 'layouts/web/footer' %>
	</div>	

	<%= javascript_include_tag "application" %>
	<%= yield :scripts %>
	
</body>
</html>
